{namespace n=Tx_News_ViewHelpers}

<f:layout name="Detail.html" />

<!--
	=====================
		News/Detail.html
-->

<f:section name="content">
    <f:if condition="{newsItem}">
        <f:then>
            <article class="Pressemitteilung_Listenansicht">
                <section class="detailansicht_links">
                    <section class="logo_drucker_datum">
                        <f:if condition="{0: newsItem.brand.title} == {0: 'Rolf Benz'}">
                            <f:then>
                                <div class="logo_rb">
                                    <f:image src="EXT:rb_asset_archive/Resources/Public/Logos/RB_Logo_schwarz.jpg" alt="Logo Rolf Benz" />
                                </div>
                            </f:then>
                            <f:else>
                                <div class="logo_freistil">
                                    <f:image src="EXT:rb_asset_archive/Resources/Public/Logos/Freistil_Logo_schwarz.png" alt="Logo freistil" />
                                </div>
                            </f:else>
                        </f:if>
                        <div class="drucker">
                            <a href="javascript:print()"><f:image alt="Drucken" src="EXT:rb_asset_archive/Resources/Public/Images/printer.png" /></a>
                        </div>
                        <div class="datum">
                            <p><n:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</n:format.date></p>
                        </div>
                    </section>
                    <section class="text_pressemitteilung">
                        <h3>{newsItem.title}</h3>
                        <f:if condition="{newsItem.teaser}">
                        <!-- teaser -->
                        <p class="teaser"><f:format.raw>{newsItem.teaser}</f:format.raw></p>
                        </f:if>
                        <!-- main text -->
                        <p><f:format.raw>{newsItem.bodytext}</f:format.raw></p>
                        <p class="link_zum_bilderarchiv">
                            <f:for each="{newsItem.programms}" as="programm">
                                <b>
                                    <f:translate key="LLL:EXT:rb_asset_archive/Resources/Private/Language/locallang.xlf:tx_rbassetarchive.news.more_assets" /> {programm.title}
                                </b>
                                <f:link.action action="search" extensionName="rb_asset_archive" controller="Asset" pageUid="3" arguments="{more: 1, theme: programm, type: 2}">
                                    <f:translate key="LLL:EXT:rb_asset_archive/Resources/Private/Language/locallang.xlf:tx_rbassetarchive.news.asset_archive" /><b>&gt;&gt;</b>
                                </f:link.action><br>
                            </f:for>
                        </p>
                        <f:alias map="{contact: newsItem.contact}">
                        <p class="weitere_informationen">
                            <b><f:translate key="LLL:EXT:rb_asset_archive/Resources/Private/Language/locallang.xlf:tx_rbassetarchive.news.additional_information" />:</b><br>
                            <f:format.nl2br>{contact.address}</f:format.nl2br><br />
                            <f:if condition="{contact.country}">{contact.country}-</f:if>
                            {contact.zip} {contact.city}

                        </p>
                        <p class="kontaktperson">
                            <f:if condition="{0: contact.gender} == {0: 'm'}">
                                <f:then>
                                    <f:translate key="LLL:EXT:rb_asset_archive/Resources/Private/Language/locallang.xlf:tx_rbassetarchive.news.mr" />
                                </f:then>
                                <f:else>
                                    <f:translate key="LLL:EXT:rb_asset_archive/Resources/Private/Language/locallang.xlf:tx_rbassetarchive.news.ms" />
                                </f:else>
                            </f:if>
                            {contact.name}<br />
                            <f:translate key="LLL:EXT:rb_asset_archive/Resources/Private/Language/locallang.xlf:tx_rbassetarchive.news.phone" />: {contact.phone}<br />
                            <f:translate key="LLL:EXT:rb_asset_archive/Resources/Private/Language/locallang.xlf:tx_rbassetarchive.news.fax" />: {contact.fax}<br />
                            <f:translate key="LLL:EXT:rb_asset_archive/Resources/Private/Language/locallang.xlf:tx_rbassetarchive.news.email" />: {contact.email}<br />
                        </p>
                        </f:alias>
                        <f:if condition="{settings.backPid}">
                        <!-- Link Back -->
                        <p class="zurueck_button">
                            <a href="javascript:history.back();">
                                <f:translate key="back-link" />
                            </a>
                        </p>
                        </f:if>
                    </section>
                    <f:if condition="{settings.detail.showSocialShareButtons}">
                        <div class="facebook">
                            <div class="like">
                                <n:social.facebook.like></n:social.facebook.like>
                            </div>
                            <div class="share">
                                <n:social.facebook.share>Share</n:social.facebook.share>
                            </div>
                            <div class="twitter">
                                <n:social.twitter>Twitter</n:social.twitter>
                            </div>
                        </div>
                    </f:if>
                </section>
                <section class="detailansicht_leerraum"></section>
                <f:if condition="{f:count(subject:newsItem.assets)} <= 3">
                    <f:render partial="Detail/LessAssets" arguments="{newsItem: newsItem, settings:settings}" />
                </f:if>
                <f:if condition="{f:count(subject:newsItem.assets)} > 3">
                    <f:render partial="Detail/MediumAssets" arguments="{newsItem: newsItem, settings:settings}" />
                </f:if>
            </article>
        </f:then>
        <f:else>

        </f:else>
    </f:if>
</f:section>