<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
    <article class="content">
        <section class="detailansicht_links">
        <f:for each="{assets}" as="asset" iteration="iterator">
        <f:if condition="{iterator.cycle} == 15">
        </section>
        <section class="detailansicht_rechts">
        </f:if>
            <f:render partial="Asset/AssetItem.html" arguments="{asset:asset, iterator: iterator}" />
        </f:for>
        </section>
    </article>
</f:section>