<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
    <section class="suche">
    <f:form action="search">
        <div class="kategorie">
            <div class="kategorie_text">
                <f:translate key="tx_rbassetarchive.form.label.type" />:
            </div>
            <div class="kategorie_auswahl">
                <f:form.select id="type" name="type" options="{types}" value="{arguments.type}" />
            </div>
        </div>
        <div class="zeitraum">
            <div class="zeitraum_text">
                <f:translate key="tx_rbassetarchive.form.label.period" />:
            </div>
            <div class="von">
                <f:translate key="tx_rbassetarchive.form.label.period_from" />
            </div>
            <div class="zeitraum_auswahl_monat_von">
                <f:form.select id="periodFromMonth" name="periodFromMonth" options="{periodFromMonth}" value="{arguments.periodFromMonth}" />
            </div>
            <div class="zeitraum_auswahl_Jahr_von">
                <f:form.select id="periodFromYear" name="periodFromYear" options="{periodFromYear}" value="{arguments.periodFromYear}" />
            </div>
            <div class="bis">
                <f:translate key="tx_rbassetarchive.form.label.period_to" />
            </div>
            <div class="zeitraum_auswahl_monat_bis">
                <f:form.select id="periodToMonth" name="periodToMonth" options="{periodToMonth}" value="{arguments.periodToMonth}" />
            </div>
            <div class="zeitraum_auswahl_Jahr_bis">
                <f:form.select id="periodToYear" name="periodToYear" options="{periodToYear}" value="{arguments.periodToYear}" />
            </div>
        </div>

        <div class="bereiche">

            <div class="bereiche_text">
                <f:translate key="tx_rbassetarchive.form.label.theme" />:
            </div>
            <div class="bereiche_auswahl">
                <select id="theme" name="tx_rbassetarchive_pi1[theme]">
                    <f:for each="{themes}" as="theme">
                        <f:if condition="{theme.id} == {id}">
                                <f:then>
                                    <option value="{theme.id}" selected="selected" style="padding-left: {theme.level}px" {theme.status}>{theme.title}</option>
                                </f:then>
                                <f:else>
                                    <option value="{theme.id}" style="padding-left: {theme.level}px" {theme.status}>{theme.title}</option>
                                </f:else>
                        </f:if>
                    </f:for>
                </select>
            </div>
        </div>
        <div class="suchbegriff">
            <div class="suchbegriff_text">
                <f:translate key="tx_rbassetarchive.form.label.keyword" />:
            </div>
            <div class="suchbegriff_auswahl">
                <f:form.textfield id="keyword" name="keyword" placeholder="{f:translate(key: 'tx_rbassetarchive.form.label.keyword')}" value="{arguments.keyword}" />
            </div>
        </div>
        <div id="presse_archiv_suchbutton">
            <button type="submit"><f:translate key="tx_rbassetarchive.form.button.search" />&nbsp;<f:image src="fileadmin/templates/img/Pfeile.png" alt="" /></button>
        </div>
    </f:form>
    </section>

    <f:if condition="{f:count(subject: assets)} > 0">
        <f:render partial="Asset/List.html" arguments="{assets: assets}" />
    </f:if>

    <f:if condition="{f:count(subject:news)} > 0">
        <f:render partial="NewsArchive/List.html" arguments="{news:news}" />
    </f:if>

    <f:if condition="{f:count(subject:assets)} == 0">
        <f:if condition="{f:count(subject:news)} == 0">
            <section id="hinweis" class="bodytext">
                <f:translate key="tx_rbassetarchive.misc.no_result" />
            </section>
        </f:if>
    </f:if>

</f:section>