<article class="content">
    <f:widget.paginate objects="{assets}" as="paginatedAssets" configuration="{insertBelow: 1, itemsPerPage: 30}">
        <div  class="clearfix">
        <f:for each="{paginatedAssets}" as="asset" iteration="iterator">
            <section class="detailansicht_links">
                <f:if condition="{iterator.isEven}">
                    <f:then>
                        <div class="second_col">
                        <f:render partial="Asset/Item.html" arguments="{asset: asset, iterator: iterator}" />
                        </div>
                    </f:then>
                    <f:else>
                        <f:render partial="Asset/Item.html" arguments="{asset: asset, iterator: iterator}" />
                    </f:else>
                </f:if>
            </section>
            <f:if condition="{iterator.isEven}">
                </div>
                <div  class="clearfix">
            </f:if>
        </f:for>
        </div>
    </f:widget.paginate>
</article>