<table class="tx-rb-asset-archive" >
	<tr>
		<td>
			<f:translate key="tx_rbassetarchive_domain_model_asset.name" />
		</td>
		<td>
			{asset.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_rbassetarchive_domain_model_asset.active" />
		</td>
		<td>
			{asset.active}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_rbassetarchive_domain_model_asset.image" />
		</td>
		<td>
			{asset.image}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_rbassetarchive_domain_model_asset.date" />
		</td>
		<td>
			{asset.date -> f:format.date()}
		</td>
	</tr>
</table>